@timeSegmentHeight: 30px;

@calendarGuidelineColour: #c5dcdf;
@calendarGuidelineColour: #c5dcdf;

//dark theme
@headerText: #e4f1ff;
@headerBackground: #161819;
@headerBackgroundNavHover: #4a5868;
@logoColour: #ff92f7;
