/*the common stuff */
@import "constants";
@import "components/login";
@import "../components/calendar/bookingCalender";
@import "../components/dialogueForm/dialogueForm";
@import "../components/header/header";
@import "forms";
@import "./modal-background";

body {
  //  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: @minSiteWidth;
}

#container {
  flex: 1;
  background-color: #1a1a1a;
}

#main {
  margin: 0 auto;
  max-width: @siteWidth;
  padding: 0 @applicationPadding;
}

footer {
  padding: 10px 0;
  background-color: #1d2734;
  color: white;
  text-align: center;
  font-size: 10px;

  > div {
    margin: 0 auto;
    max-width: @siteWidth;
    padding: 0 @applicationPadding;
  }
}
