@import "../../styles/constants";

/*
This will be added to the screen at the far right and as soon as it is displayed we transition it
into view
*/

.loginInfo {
  padding: 5px;
  // width: 200px;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: all 300ms ease;
  background-color: #6dfffa;
  border-radius: 5px;
}

//todo add login and pass buttons ?
