@import "constants";
@import "components/login";
@import "components/bookingCalender";
@import "forms";

body {
  //  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;

}

#container {
  flex: 1;
  background-color: #0000f6;
}

nav {
  width: 140px;

  li {
    display: block;
  }
}

#main {
  flex: 1;
}

